:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "ClashDisplay", sans-serif;
  --content-width: 1280px;
  --container-offset: 25px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1385px;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --light: #fff;
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --border-dark: #cac6da;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/../fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/../fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header__container-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 0;
}
@media (max-width: 44.0625rem) {
  .header__search {
    display: none;
  }
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (min-width: 44.125rem) {
  .header__link-search {
    display: none;
  }
}
@media (max-width: 44.0625rem) {
  .header__link-cart {
    display: none;
  }
}
@media (max-width: 44.0625rem) {
  .header__link-user {
    display: none;
  }
}
.header__hr {
  margin: 0;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 44.0625rem) {
  .header__hr {
    display: none;
  }
}
.header__container-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 44.0625rem) {
  .header__navbar {
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    z-index: 100;
    width: 80%;
    max-width: 23.4375rem;
    height: 100vh;
    background-color: var(--light);
    -webkit-transition: opacity 0.3s, visibility 0.3s, left 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, left 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, left 0.3s, -webkit-transform 0.3s;
    -webkit-box-shadow: 0.625rem 0 1.4375rem -0.3125rem rgba(34, 60, 80, 0.2);
    box-shadow: 0.625rem 0 1.4375rem -0.3125rem rgba(34, 60, 80, 0.2);
  }
}

.navbar__list {
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.75rem;
}
@media (max-width: 51.875rem) {
  .navbar__list {
    gap: 2.1875rem;
  }
}
@media (max-width: 44.0625rem) {
  .navbar__list {
    padding: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.navbar__link {
  font-weight: 400;
  font-size: 1rem;
  color: #726e8d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .navbar__link:hover {
    color: #201b3f;
  }
}

.menu--active {
  left: 0;
}

.hero {
  min-height: 44rem;
  background-color: var(--light);
  background-image: url("../img/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 34.375rem) {
  .hero {
    min-height: 0;
    background-image: none;
  }
}
.hero__container {
  padding: 8.125rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}
@media (max-width: 56.25rem) {
  .hero__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 34.375rem) {
  .hero__container {
    padding: 0 1.5625rem;
  }
}
.hero__content {
  padding: 2.8125rem 3.4375rem;
  max-width: 39.375rem;
  min-height: 27.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--light);
}
@media (max-width: 34.375rem) {
  .hero__content {
    padding: 0;
    min-height: 0;
    gap: 2rem;
  }
}
.hero__btn {
  margin-top: auto;
  padding: 1rem 2rem;
  max-width: 10.9375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark-primary);
}
@media (max-width: 34.375rem) {
  .hero__btn {
    max-width: 100%;
  }
}
.hero__image {
  margin-top: 2rem;
}

.content__header {
  max-width: 31.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}
.content__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.5rem, 1.281rem + 0.899vw, 2rem);
  line-height: 140%;
  color: #22202e;
}
.content__descr {
  margin: 0;
  font-weight: 400;
  font-size: clamp(1rem, 0.945rem + 0.225vw, 1.125rem);
  line-height: 150%;
  color: #5b5676;
}

.section-offset {
  margin: 5rem 0;
}

.section-offset-footer {
  padding: 3.75rem 0 1.5625rem;
}

@media (min-width: 34.4375rem) {
  .for-small-screens {
    display: none;
  }
}

@media (max-width: 34.375rem) {
  .for-large-screens {
    display: none;
  }
}

.button {
  background-color: var(--light-grey);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(78, 77, 147, 0.2);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.375rem;
}
@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .grid {
    gap: 1.25rem 1rem;
  }
}

.grid--advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.375rem;
}
@media (max-width: 59.375rem) {
  .grid--advantages {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34.375rem) {
  .grid--advantages {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.article__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 140%;
  color: var(--dark-primary);
}
.article__info {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark-primary);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__input {
  padding: 1.0625rem 2rem;
}
.form__btn {
  padding: 1rem 2rem;
  width: 100%;
  max-width: 7.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}
.form__btn-white {
  color: var(--dark-primary);
  background-color: var(--light);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (any-hover: hover) {
  .form__btn-white:hover {
    background-color: var(--light-grey);
  }
}

.burger {
  --burger-width: 16px;
  --burger-height: 16px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--dark-primary);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 2px;
}
.burger::after {
  top: 12px;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 44.125rem) {
  .burger {
    display: none;
  }
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.25rem;
}
.advantages__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.25rem, 1.14rem + 0.449vw, 1.5rem);
  line-height: 140%;
  text-align: center;
  color: var(--dark-primary);
}
@media (max-width: 34.375rem) {
  .advantages__title {
    text-align: left;
  }
}
.advantages__item {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  background-color: var(--light-grey);
}
.advantages__article {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}

.article__title--advantages {
  margin: 0;
  padding-bottom: 0.75rem;
}
.article__info--advantages {
  margin: 0;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.products__article {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .products__article:hover {
    scale: 1.07;
  }
}
.products__button {
  margin-top: 3.125rem;
  padding: 1rem 2rem;
  max-width: 10.9375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark-primary);
}
@media (max-width: 576px) {
  .products__button {
    margin-top: 2.5rem;
  }
}
@media (max-width: 24.375rem) {
  .products__button {
    width: 100%;
    max-width: 100%;
  }
}

.article__title--products {
  margin: 0;
  padding: 1.5rem 0 0.5rem;
}
@media (max-width: 576px) {
  .article__title--products {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
}
.article__price--products {
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: var(--dark-primary);
}
@media (max-width: 576px) {
  .article__price--products {
    font-size: 0.875rem;
  }
}

.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1.5rem 0.9375rem;
}
@media (max-width: 68.75rem) {
  .history__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.history__article {
  padding: 4rem 4.6875rem;
  max-width: 39.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--dark-primary);
}
@media (max-width: 68.75rem) {
  .history__article {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .history__article {
    padding: 2.1875rem 2rem;
  }
}
.history__button {
  margin-top: auto;
  padding: 1rem 2rem;
  max-width: 10.9375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--light);
  background-color: rgba(249, 249, 249, 0.15);
}
@media (any-hover: hover) {
  .history__button:hover {
    background-color: rgba(249, 249, 249, 0.2);
  }
}
@media (max-width: 68.75rem) {
  .history__button {
    margin-top: 3.5rem;
  }
}
@media (max-width: 24.375rem) {
  .history__button {
    max-width: 100%;
  }
}
.history__image {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.article__header--history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}
.article__title--history {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.25rem, 0.921rem + 1.348vw, 2rem);
  color: var(--light);
}
@media (max-width: 576px) {
  .article__title--history {
    line-height: 140%;
  }
}
.article__info--history {
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.765rem + 0.449vw, 1.125rem);
  color: var(--light);
}
@media (max-width: 576px) {
  .article__info--history {
    line-height: 150%;
  }
}

.subscribe {
  padding: 7.625rem 0;
  background-image: url("../img/Email sign-up.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .subscribe {
    padding: 1.5625rem 0;
  }
}
.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
}
@media (max-width: 500px) {
  .subscribe__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.5625rem;
    text-align: left;
  }
}
.subscribe__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}
.subscribe__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1.5rem, 1.281rem + 0.899vw, 2rem);
  line-height: 140%;
  color: var(--light);
}
.subscribe__info {
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.765rem + 0.449vw, 1.125rem);
  line-height: 150%;
  color: var(--light);
}
.subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem 2.25rem;
}
@media (max-width: 500px) {
  .subscribe__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.subscribe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.subscribe__interest {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--light);
}
.subscribe__form {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form__input--subscribe {
  width: 100%;
  max-width: 22.1875rem;
}
.form__btn--subscribe {
  color: var(--light);
  background-color: var(--dark-primary);
}
@media (any-hover: hover) {
  .form__btn--subscribe:hover {
    background-color: #242042;
  }
}

.footer {
  background-color: var(--dark-primary);
}
.footer__up {
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.875rem;
}
@media (max-width: 55rem) {
  .footer__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.125rem;
  }
}
.footer__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.875rem;
}
@media (max-width: 55rem) {
  .footer__left {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 6.25rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 34.0625rem) {
  .footer__left {
    gap: 3.125rem;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}
.footer__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--light);
}
.footer__link {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--light);
}
.footer__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 55rem) {
  .footer__right {
    width: 100%;
  }
}
.footer__signature {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--light);
}
.footer__form {
  width: 100%;
}
.footer__hr {
  margin: 0;
  border: 0.0625rem solid var(--primary);
}
.footer__down {
  margin-top: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 31.25rem) {
  .footer__down {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__copyright {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--light);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 31.25rem) {
  .footer__social {
    display: none;
  }
}

.form__input--footer {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  color: var(--light);
  background: rgba(255, 255, 255, 0.15);
}
/*# sourceMappingURL=main.css.map */